.main-container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 20px 120px;
}

.breadcrumbs {
    display: flex;
    column-gap: 8px;
    padding-top: 20px;
    margin-bottom: 44px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;
    color: #888;
    .breadcrumbs_link {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: rgba(51, 51, 51, .5);
        &.current {
            color: rgba(51, 51, 51, .2);
            pointer-events: none;
        }
    }
}

.tag {
    display: inline-block;
    margin: 0 0 24px 0;
    padding: 6px 20px;
    border-radius: 20px;
    background: #D90000;
    font-size: 14px;
    color: white;
}

.sub_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.13em;
    margin: 0 0 24px 0;
    text-transform: uppercase;
    color: #000;
}

.sub-number {
    font-size: 14px;
    color: #888;
}